<!DOCTYPE html>
<html>
  <head>
    <title>Context</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app">
      <h1 class="app-title"><%= t('.title') %></h1>
    </header>

    <% flash.each do |type, content| %>
      <%= content_tag :div, content, class: "flash-content flash-content__#{type}" %>
    <% end %>

    <%= yield %>
  </body>
</html>
