<!DOCTYPE html>
<html>
  <head>
    <title>Context</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app">
      <%= link_to root_path do %>
        <h1 class="app-title"><%= t('.title') %></h1>
      <% end %>
      <div style="float:right">
        <% if current_user %>
          <%= current_user.name %>
          <%= link_to 'Выйти', session_path(current_user), method: :delete %>
        <% end %>
      </div>
    </header>

    <% flash.each do |type, content| %>
      <%= content_tag :div, content, class: "flash-content flash-content__#{type}" %>
    <% end %>

    <%= yield %>
  </body>
</html>
